/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(./images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
}

.signin-container {
    background-color: transparent;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

.signin-wrapper {
    text-align: center;
}

h2 {
    font-family: 'Noto Serif', serif;
    margin-bottom: 20px;
    color: white;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color:white;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Responsive design for mobile */
@media (max-width: 600px) {
    .signin-container {
        padding: 20px;
    }

    input[type="email"],
    input[type="password"] {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}
